.collection-item {
  display: flex;
  height: 350px;
  margin: 1% 0%;
  flex-direction: column;
}

.item-image {
  height: 95%;
  width: 350px;
  background-position: center;
  background-size: cover;
}

.collection__preview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.collection-container {
  margin: 5vh 0;
}

.collection-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-page {
  margin: 10% 3%;
  background-color: #fff;
}
