$sub-color: #888;
$main-color: #000;

@mixin shrinkLabel {
  font-size: 12px;
  color: $main-color;
  top: -15px;
}

.form-group {
  margin: 45px 0;
  position: relative;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    border: none;
    width: 100%;
    border-bottom: 1px solid $sub-color;
    border-radius: 0;
    font-size: 16px;
    display: block;
    margin: 15px 0;
    padding: 10px 10px 10px 5px;
    &:focus {
      outline: none;
    }
    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: 300;
    pointer-events: none;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: all 0.15s ease;
    &.shrink {
      @include shrinkLabel();
    }
  }
}
